<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/babbage">Charles Babbage</a>
                </li>
                <li>
                    <a href="/berners-lee">Tim Berners-Lee</a>
                </li>
                <li>
                    <a href="/clarke">Joan Clarke</a>
                </li>
                <li>
                    <a href="/hamilton">Margaret Hamilton</a>
                </li>
                <li>
                    <a href="/hooper">Grace Hooper</a>
                </li>
                <li>
                    <a href="/lovelace">Ada Lovelace</a>
                </li>
                <li>
                    <a href="/turing">Alan Turing</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Charles Babbage</h1>
            <article>
                <p>
                    Charles Babbage fue un matemático y científico de la computación británico.1​Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "Alguien". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres.
                </p>
                <p>
                    De 1828 a 1839 Babbage fue profesor de matemáticas en Cambridge. Escribió artículos en distintas revistas científicas, y era miembro activo de la Astronomical Society —sociedad astronómica— en 1820 y de la Statistical Society —sociedad estadística— en 1834. Durante los últimos años de su vida residió en Londres, dedicándose a la construcción de máquinas capaces de la ejecución de operaciones aritméticas y cálculos algebraicos.
                </p>
                <p>
                    Propuso el sistema de franqueo postal que utilizamos hoy en día. Hasta entonces el coste de enviar una carta dependía de la distancia que tenía que viajar; Babbage advirtió que el coste del trabajo requerido para calcular el precio de cada carta superaba el coste del franqueo de esta y propuso un único coste para cada carta con independencia del sitio del país al que era enviada.
                </p>
                <p>
                    Fue el primero en señalar que la anchura del anillo de un árbol dependía de la meteorología que había hecho ese año, por lo que sería posible deducir climas pasados estudiando árboles antiguos.
                </p>
                <p>
                    Inventó el apartavacas, un aparato que se sujetaba a la parte delantera de las locomotoras de vapor para que las vacas se apartasen de las vías del ferrocarril.
                </p>
                <p>
                    Se interesó también por temas políticos y sociales e inició una campaña para deshacerse de los organilleros y músicos callejeros de Londres, aunque estos pasaron al contraataque y se organizaron en torno a su casa tocando lo más alto que podían.
                </p>
            </article>
        </section>
        <aside>
            <img src="/img/Charles Babbage/Charles Babbage 01.jpg" alt="imagen de Charles Babbage 01">
            <img src="/img/Charles Babbage/Charles Babbage 02.jpg" alt="imagen de Charles Babbage 02">
        </aside>
    </main>
</body>
</html>